<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
<Appenders>
	<Console name="console" target="SYSTEM_OUT">
		<PatternLayout pattern="%d{ABSOLUTE} [%t] %-5p %m%n" />
	</Console>
</Appenders>

<Loggers>
	<Logger name="io.netty" level="info"/>

	<Root level="trace">
		<AppenderRef ref="console" />
	</Root>
</Loggers>

</Configuration>
